#calendar {
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
  border-radius: 15px;
}

.calendar__table {
  width: 100%;
  text-align: center;
  margin: 0;
}

.has-event {
  position: relative;

  &:after {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    background-color: chartreuse;
    border-radius: 50%;
    bottom: 2px;
    left: calc(50% - 2.5px)
  }
}

