.events__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.events__date {
  margin: 0;
}

.eventItem {
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.addEventPopup {
  width: 250px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 15px;
  position: absolute;
  top: 10px;
  left: 50%;
}